body { 
    height: 100vh;
    background-image: radial-gradient(rgb(255, 159, 49), rgb(255, 0, 0) 120%);
}

.box {
    height: 100px;
    width: 100px;
    background-image: radial-gradient(rgb(255, 102, 14), rgb(255, 12, 12) 120%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.507);
}